<h1>Listing legs</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Departure/Arrival</th>
    <th>Departure/Arrival time</th>
    <th>Details</th>
  </tr>

<%= render @legs%>
</table>

<br />

<%= link_to 'New Leg', new_leg_path %>
