table {
	background-color:#87CEEB;
	font-size:1.5em;
	font-family:Sans-serif;
	empty-cells:hide;
}
table, th, td {
        border: 2px solid white;
        empty-cells:hide;	
}
td {
	padding:25px;
}
.active {
	background-color:#FFFFFF;
	font-weight:bold;
}
